*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
.idea/vcs.xml
app/libs/
app/src/main/res/drawable/
gradle.properties
gradle/
gradlew
gradlew.bat
